@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 900px) {
  main {
    margin-left: 80px;
    margin-right: 80px;
  }
}
